*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-section {
background-color: #FF7F7F !important;
min-height: 85px !important;
}
.navbar-brand, .nav-link{
  color: white !important;
}

.home {
    background-color: #FFEAEB;
    border-bottom: 10px solid #FFEAEB;
}
.home-container {
    margin: 0 !important;
    width: 100%;
    padding: 0 0 0 0 !important;
  }
  
  .home-text {
    padding-right: 20px;
    text-align: center;
  }
  
  .home-img {
    max-width: 85%;
    max-height: 75%;
    height: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .services, .courses, .categories, .testimonials{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;

  }
  
  .services-text, .courses-text, .categories-text, .testimonials-text, .services-card-text, .courses-card-text, .categories-card-text{
    max-width: 700px;
    color: gray;
  }
.fa-solid{
  font-size: 50px;
  text-align: center;
}
.services-card-title, .categories-card-title, .categories-card-text{
  text-align: center;
}
.services-card{
  border: 0px solid gray;
}
.services-card:hover{
cursor: pointer;
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.20);

}

.services-content-container, .courses-content-container,.categories-content-container, .testimonials-content-container{
  margin-bottom: 50px;
}

.courses-container-1{
  margin-bottom: 30px;
}
.categories-card{
  padding-top: 10px;
  margin-right: 20px;
  background-color: #FFEAEB;
}

.testimonials-cards-container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  background-color: #FFEAEB;
  border-radius: 30px;
}

.testimonials-item{
  background-color: hsl(0%, 0%, 100%);
  padding: 30px;
  border-radius: 30px;
}
.testimonials .info{
  display: flex;
  align-items: center;
}
.testimonials-item img{
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: hsl(0%, 0%, 0%);
  line-height: 1.2;
}

.testimonials-item .job{
  text-transform: capitalize;
  color: gray;

}

.testimonials-item p{
  margin-top: 20px;
  color: gray;
}

.testimonials-item .rating{
  margin-top: 15px;
  font-size: 14px;
  color: gold;

}
.testimonials .swiper-pagination{
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet{
  background-color: #FF7F7F;
}
.footer-container{
  max-width: 1170px;
  margin: auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style-type: none;
  display: contents;
}
.footer{
  margin-top: 50px;
  background-color: #FF7F7F;
  padding: 70px 0;
}



.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
  font-weight: 500;
}

.footer-col h4::before{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #e91e63;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  /* color: #bbbbbb; */
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: white;
  padding-left: 8px;
  
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: white;
}

@media(max-width: 767px){
  
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}

@media(max-width: 574px){
  
  .footer-col{
    width: 100%;
  }
  }